
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your favorite TV show <strong><%= @tv_show.name %></strong> on <strong><%= @tv_show.channel_name %></strong> channel would be started at <strong><%= @tv_show.show_time %></strong>.
    </p>
  </body>
</html>
