<form>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Search by show/channel", autofocus: true %>
  <%= submit_tag "Search" %>
</form>

<h4>List of TV shows.</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Show name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "tv_show", collection: @tv_shows %>
  </tbody>
</table>
